@import "bootstrap-sprockets";
@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Reenie+Beanie');
@import url('https://fonts.googleapis.com/css?family=Archivo+Narrow|Pangolin|Pathway+Gothic+One');
@import url('https://fonts.googleapis.com/css?family=Lato:100,300,400');
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

body {
  font-family: 'Lato', sans-serif;
  background-color: #e2dedb;
  color: #b3aca7;
}

#signup {
  position: relative;
  margin: 100px 0 25px 0;
  font-size: 2.3em;
  text-align: center;
  letter-spacing: 7px;
}


span.addApt {
  font-family: 'Lato', sans-serif;
  font-size: 15px;
  color: black;
  float: right;
  margin-right: 50px;
}

#signup-form {
  font-family: 'Lato', sans-serif;
	padding-bottom: 88px;
	padding-top: 80px;
	padding-left: 150px;
	padding-right: 150px;

	.actions {
		color: black;
		padding-top: 10px;
		padding-bottom: 10px;
	}
}


#form {
  position: relative;
  width: 500px;
  margin: 50px auto 100px auto;
}


#button {
  width: 502px;
  padding: 0;
  margin: -5px 0px 0px 0px;
  font-family: 'Lato', sans-serif;
  font-size: 0.875em;
  color: #b3aca7;
  outline:none;
  cursor: pointer;
  border: solid 1px #b3aca7;
  border-top: none;
}
#button:hover {
  color: #e2dedb;
}

span#sign {
  font-size: 20px;
  color: white;
  margin: 0 10px;
  font-family: 'Archivo Narrow', sans-serif;

}

.row {
  margin-top: 50px;
}

.search-tag {
  width:370px;
  margin:50px auto;
}

.text-tag {
  width:280px;
  padding:8px 15px;
  background:#F3F1ED;
  color: black;
  border:0px solid #dbdbdb;
}

.submit-tag {
  position:relative;
  padding:7px 16px;
  left: 5px;
  border:2px solid #207cca;
  background-color:#207cca;
  color:#fafafa;
}

.submit-tag:hover {
  background-color:#fafafa;
  color:#207cca;
}


.post-apt-info {
  font-family: 'Archivo Narrow', sans-serif;
  font-size: 30px;
  text-align: center;
}

.back {
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  background-color: #555555;
}

.link {
  font-size: 20px;
  color: black;
  margin: 0 10px;
  font-family: 'Archivo Narrow', sans-serif;
  text-decoration: none;
}

.link:hover {
  background-color: black;
  color: #5BC0DE;
  cursor: pointer;
  transition: background 0.2s ease;
  border-radius: 5px;
  padding : 2px 5px;
  text-decoration: none;
}



a.new-apt-link {
  font-size: 20px;
  color: black;
  margin: 0 10px;
  font-family: 'Lato', sans-serif;
  text-decoration: none;
  text-align: right;
}

.apt-link {
  font-size: 20px;
  color: black;
  margin: 0 10px;
  font-family: 'Lato', sans-serif;
  text-decoration: none;
}

.col-sm-4{
  border-style: solid;
  color: #AA632C;
  border-width: 10px;
  display: inline-block;
  width: 495px;
  margin-top: 15px;
  margin-left: 50px;
  margin-bottom: 15px;
  float: none;
}

.col-md-6 {
  border-style: solid;
  color: #AA632C;
  border-width: 10px;
  margin-bottom: 15px;
  background-color: white;
}

#aptName {
  font-family: 'Pathway Gothic One', sans-serif;
  font-size: 30px;
  color: black;
}

#aptInfo {
  font-family: 'Pathway Gothic One', sans-serif;
  font-size: 15px;
  color: black;
  float: right;
}

.calc_price {
  font-family: 'Pathway Gothic One', sans-serif;
  font-size: 60px;
  color: black;
  text-align: center;
  margin: 50px;
}

.count_post {
  font-family: 'Pathway Gothic One', sans-serif;
  font-size: 15px;
  color: black;
  float: right;
}

.edit {
  font-family: 'Pathway Gothic One', sans-serif;
  font-size: 15px;
  color: black;
}

.destroy {
  font-family: 'Pathway Gothic One', sans-serif;
  font-size: 15px;
  color: black;
}

.display-3 {
  font-family: 'Reenie Beanie', cursive;
  color: white;
  font-weight: 600;
  font-size: 100px;
  text-align: center;
  clear: both
}

.log {
  margin-top: -30px;
  margin-right: 15px;
}

.col-sm-4 {
  width: 500px;
}

.jumbotron {
  height: 300px;
  background-repeat: no-repeat;
  background-position: 50% 77%;
  background-size: cover;
  margin: auto;
  background-image: url(brown.jpg);
  z-index: 100;
}

.form-group {
  width: 50%;
  margin: auto;
}

.edit-apt, .edit-post {
  text-align: center;
}

.you_receive {
  font-family: 'Pathway Gothic One', sans-serif;
  font-size: 60px;
  color: black;
  text-align: center;
  margin-top: 30px;
}

.postInfo {
  font-family: 'Pathway Gothic One', sans-serif;
  font-size: 20px;
  color: black;
  float: right;
  margin-bottom: 30px;
}
