@import "bootstrap-sprockets";
@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Reenie+Beanie');
@import url('https://fonts.googleapis.com/css?family=Archivo+Narrow|Pangolin|Pathway+Gothic+One');

/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

body {
    background-color: #AF9E93;

}

#sign {
  font-size: 20px;
  float: right;
  color: white;
  margin: 0 10px;
  font-family: 'Archivo Narrow', sans-serif;
}

.col-sm-4{
  border-style: solid;
  color: #AA632C;
  border-width: 10px;
  margin: 10px;

}

#aptName {
  font-family: 'Pathway Gothic One', sans-serif;
  font-size: 30px;
  color: black;
}

#aptInfo {
  font-family: 'Pathway Gothic One', sans-serif;
  font-size: 15px;
  color: black;
  float: right;
}

.calc_price {
  font-family: 'Pathway Gothic One', sans-serif;
  font-size: 60px;
  color: black;
  text-align: center;
  margin: 50px;
}

.count_post {
  font-family: 'Pathway Gothic One', sans-serif;
  font-size: 15px;
  color: black;
  float: right;
}

.edit {
  font-family: 'Pathway Gothic One', sans-serif;
  font-size: 15px;
  color: black;
}

.destroy {
  font-family: 'Pathway Gothic One', sans-serif;
  font-size: 15px;
  color: black;
}

.display-3 {
  font-family: 'Reenie Beanie', cursive;
  color: white;
  font-weight: 600;
  font-size: 100px;
  text-align: center;
}

.col-sm-4 {

}

.jumbotron {
  height: 300px;
  background-repeat: no-repeat;
  background-position: 50% 77%;
  background-size: cover;
  margin: auto;
  background-image: url(brown.jpg);
  z-index: 100;
}
