<div id="iw-container">
  <div class="iw-title"> <%= link_to apartment.name, apartment_path(apartment) %> </div>
  <div class="iw-content">
    <p class="city"><%= apartment.address %></p>
  </div>
</div>
